{
    "database": {
        "host": "localhost",
        "port": "5432",
        "dbname": "test_db",
        "user": "root",
        "password": "your_password_here"
    },
    "embedding_model": "paraphrase-multilingual-MiniLM-L12-v2",
    "llm_base_url": "http://192.168.1.238:8080/v1"
}